.forgot-password-container input::placeholder {
    color: #8f8f8f;
}
.reset-link {
    color: #F43E4A;
    text-decoration: none;
}

.reset-link:hover {
    color: #F43E4A;
    text-decoration: underline;
}